<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        <%= title%> - 随趣IT - 趣味人生
    </title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/default.css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <!--<script src="/js/require.js"></script>-->
    <script src="/js/highlight.pack.js"></script>


</head>

<body class="post">
    <div class="wrapper">
        <header class="header">
            <div class="logo"><a href="/">随趣IT</a></div>
            <h1 class="title text-center">
                <%= title%>
            </h1>
            <h4 class="title text-center">
                <%= subtitle%>
            </h4>
        </header>
        <div class="main container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <article class="content">
                      @@markdown
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <nav>
                        <ul class="pager">
                            <li class="previous <%= next.dis  %>"><a href= "<%= next.url%>.html">&larr;后一篇</a></li>
                            <li class="next   <%= prev.dis %>"><a href= "<%= prev.url%>.html">  前一篇 &rarr;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="<%= url %>" data-title="<%= title%>" data-url="http://justfunit.com/posts/<%= url%>.html"></div>
                    <!-- 多说评论框 end -->
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-center">
        版权所有&copy;NeeKin By 2016
    </footer>
</body>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {
        short_name: "justfunit"
    };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] ||
            document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->

<script>
    hljs.initHighlightingOnLoad();
</script>



</html>